.contenedor{
    position: relative;
    height: 160px;
}
.button{
    position: absolute;
    bottom: 0;
    right: 52px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.img{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}
