.contenedor{
    position: relative;
    height: 200px;
    background-color: rgb(31, 28, 28);
}
.button{
    position: absolute;
    bottom: 0;
    right: 52px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.img{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    background-color: rgb(300, 300, 300);
}
.border{
    border: 10px solid white;
}