.navbar{
    display: flex;
    justify-content: space-around;
    padding: 20px px 20px px;
    list-style-type: none;
}
.navbar a{
    text-decoration: none;
    color: whitesmoke;
}
.navbar a:hover{
    text-decoration-line: underline;
}

nav img{
    display: block;
    margin: 0 auto;
    width: 15%;
}
