body{
  font-family: 'Courier New', Courier, monospace;
  background: rgb(255,0,0);
  background: linear-gradient(166deg, rgba(255,0,0,1) 0%, rgba(55,1,1,1) 100%);
  background-repeat: no-repeat;
  height: 100vh;
}